.bg{
    height: 100vh;
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../../public/assets/blob-scene-haikei.svg');
}
.box{
    border-radius: 29px;
    background: #001220;
    box-shadow:  -37px -37px 100px #000c15,
                 37px 37px 100px #00182b;
}
.box:hover{
    border-radius: 58px;
background: #001220;
box-shadow:  37px 37px 100px #000c15,
-37px 37px 100px #00182b;
}