.bgt1{
    height: 100vh;
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../../../public//assets/layered-steps-haikei.svg');
}

.box_bgt1{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.04);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.2px);
-webkit-backdrop-filter: blur(8.2px);
border: 1px solid rgba(255, 255, 255, 0.14);
}